$dark_primary_color: #4d4d4d;
$blue_primary_color: #404f6c;
$light_primary_color: #9fa7b6;
$blue_faded_color: #6c7d99;

$breakpoint-large: 1000px;
$breakpoint-medium: 680px;
$breakpoint-small: 420px;
